<div class="sidebar">
    <div class="top">
        <input type="text" placeholder="   Search...">
        <figure>
            <img src="assets/img/user.png" alt="">
        </figure>
        <h2>{{cardInfo[0].fullName}}</h2>
    </div>
    <div class="extra-info">
        <div>
            <span class="sub-title">Quote: </span>
            <span class="info">{{cardInfo[0].quoteNumberItc}}</span></div>
        <div>
            <span class="sub-title">Mobile: </span>
            <span class="info">{{cardInfo[0].cellPhone}}</span></div>
        <div>
            <span class="sub-title">Address: </span>
            <span class="info">{{cardInfo[0].address}}</span></div>
        <div>
            <span class="sub-title">Type: </span>
            <span class="info">{{cardInfo[0].statusTypeName}}</span></div>
        <div>
            <span class="sub-title">Date: </span>
            <span class="info">{{cardInfo[0].dateTimeAppointment}}</span></div>
        <div>
            <span class="sub-title">Created on: </span>
            <span class="info">{{cardInfo[0].createdOn}}</span></div>
        <div>
            <span class="sub-title">Lang: </span>
            <span class="info">{{cardInfo[0].language1}}</span></div>
        <div>
            <span class="sub-title">Status: </span>
            <span class="info">{{cardInfo[0].active}}</span></div>
        <div>
            <span class="sub-title">USR: </span>
            <span class="info">{{cardInfo[0].usr}}</span>
        </div>
        <div>
            <span class="sub-title">CSR: </span>
            <span class="info">{{cardInfo.csr}}</span></div>
        <div>
            <span class="sub-title">Office from: </span>
            <span class="info">{{cardInfo.officeNameFrom}}</span>
        </div>
    </div>
    <button>Edit</button>
</div>