<div class="sidebar">
    <div class="top">
        <input type="text" placeholder="   Search..." />
        <figure>
            <img src="assets/img/user.png" alt="" />
        </figure>
        <h2>{{ cardInfo?.fullName }}</h2>
    </div>
    <div class="extra-info">
        <div>
            <span class="sub-title">Quote: </span>
            <span class="info">{{ cardInfo?.quoteNumberItc }}</span>
        </div>
        <div>
            <span class="sub-title">Mobile: </span>
            <span class="info">{{ cardInfo?.cellPhone }}</span>
        </div>
        <div>
            <span class="sub-title">Address: </span>
            <span class="info">{{ cardInfo?.address }}</span>
        </div>
        <div>
            <span class="sub-title">Type: </span>
            <span class="info">{{ cardInfo?.statusTypeName }}</span>
        </div>
        <div>
            <span class="sub-title">Date: </span>
            <span class="info">{{ cardInfo?.dateTimeAppointment }}</span>
        </div>
        <div>
            <span class="sub-title">Created on: </span>
            <span class="info">{{ cardInfo?.createdOn }}</span>
        </div>
        <div>
            <span class="sub-title">Lang: </span>
            <span class="info">{{ cardInfo?.language1 }}</span>
        </div>
        <div>
            <span class="sub-title">Status: </span>
            <span class="info">{{ cardInfo?.active }}</span>
        </div>
        <div>
            <span class="sub-title">USR: </span>
            <span class="info">{{ cardInfo?.usr }}</span>
        </div>
        <div>
            <span class="sub-title">CSR: </span>
            <span class="info">{{ cardInfo?.csr }}</span>
        </div>
        <div>
            <span class="sub-title">Office from: </span>
            <span class="info">{{ cardInfo?.officeNameFrom }}</span>
        </div>
    </div>
    <button>Edit</button>
</div>
