@import 'variables'
    
.add
    display: grid
    grid-template-columns: repeat(2, 1fr)
    margin-top: 1em

    .general--info
        color: white
        background-color: $card-background
        padding: 1em
        border-radius: 1em
        margin: .5em .5em
        
        display: flex
        flex-direction: column

        .search
            display: flex
            justify-content: space-between
            margin-bottom: 1em
            margin-top: 1em

            input
                width: 60%
                border-radius: .2em

        .info

            .element
                display: flex
                justify-content: space-between
                margin-bottom: .5em

                input
                    width: 70%
                    border-radius: .2em
