<div class="add">
    <div class="general--info">
        <h3>General Info</h3>
        <div class="search">
            <label for="">Quote number</label>
            <input type="number">
            <button>Search</button>
        </div>
        <div class="info">
            <div class="element">
                <label for="">First name</label>
                <input type="text">
            </div>
            <div class="element">
                <label for="">Middle name</label>
                <input type="text">
            </div>
            <div class="element">
                <label for="">Last name</label>
                <input type="text">
            </div>
            <div class="element">
                <label for="">Home name</label>
                <input type="text">
            </div>
            <div class="element">
                <label for="">Cell name</label>
                <input type="text">
            </div>
        </div>
    </div>
</div>